[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
cloudscraper = "*"
aiohttp = "*"
aiofiles = "*"
"beautifulsoup4" = "*"
colorama = "*"
uvloop = "*"
tqdm = {editable = true, ref = "fix_753", git = "https://github.com/Ronserruya/tqdm.git"}

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
